<!DOCTYPE html>
<html>
<head>
  <title>TwtrSmartPix</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <!--
    <h1>Listing Tweets</h1>
    <ul id="tweets_list">
<%# @retweets.each do |c| %>
<%#*<li><%=  c.from_user %>%>
<%#= "(#{c.text})" -%></li>
<%# end %>
    </ul>
    -->
<p>asdf</p>
<% 
		puts "<p>0</p>"
		

 %>
 <p>asdfsds</p><br/>

</body>
</html>
